body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color: #ffffff;
    color: #354869;
    width: 100%;
    transition: transform 0.3s;
}

.header-right{
    padding: 0 10px;
}

.header-left{
    padding: 0 10px;
}

.scrolled {
    transform: translateY(-100%);
}

header.hide {
    transform: translateY(-100%);
}

header.fixed {
    position: fixed;
    top: 0;
}

header h2 {
    margin: 0;
    color: #354869;
}

.button, .estado-propuesta {
    color: #414141;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    border: solid #c0c0c0 1px;
    border-radius: 10px;
    font-size: 12px; /* Reducir el tamaño de la fuente */
    padding: 6px 10px;
    text-decoration: none;
    transition: transform 0.3s, background-color 0.3s, opacity 0.3s;
    text-align: center;
}

.button:hover {
    transform: scale(1.05);
    background-color: #e0e0e0;
    opacity: 0.9;
}

.estado-propuesta {
    color: #fff;
    background-color: #f16507;
    cursor: default;
    border: none; /* Eliminar el borde ya que está en el enlace también */
}

.estado-propuesta:hover {
    background-color: #f37019;
}

.scrolled-padding {
    padding: 120px 0; /* Aumenta el padding */
}

main {
    background-color: #dddddd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#factura {
    background-color: #fff;
    padding: 20px 20px;
}

section.title-propuesta img {
    width: 26vw;
}

section.subtitle-propuesta {
    font-size: 20px; /* Tamaño de fuente más grande */
    color: #354869; /* Color de texto diferente */
    margin-bottom: 20px; /* Espacio inferior añadido */
}

section.text-propuesta {
    font-size: 16px; /* Tamaño de fuente más grande */
    color: #354869; /* Color de texto diferente */
    margin-bottom: 20px; /* Espacio inferior añadido */
}

section.objectives {
    font-size: 18px; /* Tamaño de fuente más grande */
    color: #354869; /* Color de texto diferente */
    margin-bottom: 20px; /* Espacio inferior añadido */
}

section.text-objectives {
    font-size: 14px; /* Tamaño de fuente más grande */
    color: #354869; /* Color de texto diferente */
    margin-bottom: 20px; /* Espacio inferior añadido */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 13px; /* Tamaño de fuente para la tabla */
}

thead {
    background-color: #354869; /* Cambia el color de fondo de la primera fila */
    color: white; /* Cambia el color del texto en la primera fila */
}

th, td {
    padding: 10px;
    border: none; /* Elimina las líneas de la tabla */
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    font-size: inherit; /* Hereda el tamaño de fuente de la tabla */
}

th strong, td strong {
    font-size: 15px; /* Hereda el tamaño de fuente de la tabla */
}

td {
    color: #1c283d; /* Color de texto de las celdas de la tabla */
}

section {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px; /* Añade espacio entre las secciones */
}

/* Elimina el borde inferior de la última sección */
section:last-child, section:first-child {
    border-bottom: none;
    padding-bottom: 0;
}

.wide-column {
    width: 100%; /* Ajusta el ancho de la columna "Servicio" según sea necesario */
}

.terminos-propuesta .title {
    font-size: 18px; /* Tamaño de fuente más grande */
    color: #354869; /* Color de texto diferente */
    margin-bottom: 10px; /* Espacio inferior reducido */
}

.terminos-propuesta .text {
    font-size: 14px; /* Tamaño de fuente más grande */
    color: #1c283d; /* Color de texto de las celdas de la tabla */
    margin-bottom: 20px; /* Espacio inferior añadido */
}

.soporte .title {
    font-size: 18px; /* Tamaño de fuente más grande */
    color: #354869; /* Color de texto diferente */
    margin-bottom: 10px; /* Espacio inferior reducido */
}

.soporte .text {
    font-size: 14px; /* Tamaño de fuente más grande */
    color: #1c283d; /* Color de texto de las celdas de la tabla */
    margin-bottom: 20px; /* Espacio inferior añadido */
}

.information {
    margin: 20px;
}

.direction {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.direction h3 {
    color: #354869;
    font-size: 18px;
    font-weight: 600;
}

.contact-information .title {
    color: #354869;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.information p {
    font-size: 14px; /* Tamaño de fuente más pequeño */
    color: #354869; /* Color azul */
}

.contact-information .text {
    font-size: 14px;
    color: #354869;
}

.invoice-information .total {
    color: #354869;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.invoice-information .status {
    font-size: 16px;
    color: #f16507;
    font-weight: bold;
}

.invoice-information span {
    color: #354869;
    font-weight: 600;
}

.invoice-information .fecha,
.invoice-information .fecha-valida {
    font-size: 14px;
    color: #354869;
    margin-top: 5px;
}

footer {
    text-align: center;
    padding: 1vw;
    background-color: #e6e6e6;
}

@media screen and (max-width: 800px) {
    main {
        display: flex;
        flex-direction: column;
    }

    section.title-propuesta img {
        width: 30vw;
    }

    .scrolled-padding {
        padding: 120px 0;
    }
}

@media screen and (max-width: 600px) {

    header {
        flex-direction: column;
        align-items: center;
    }

    .button, .estado-propuesta {
        padding: 6px 0;
    }

    header h2 {
        font-size: 3vh;
    }

    .header-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 10px;
        margin-top: 10px;
    }

    .header-right .button,
    .header-right .estado-propuesta {
        width: 80%;
        text-align: center;
    }
}
